table {
  width: 100%;
  tr,
  td {
    border: 1px solid #d8dbe0;
  }
  td {
    padding: 8px;
  }
  thead {
    tr {
      font-weight: 600;
      font-size: 1.1em;
    }
  }
}

.mt-20 {
  margin-top: 20px;
}

.mr-10 {
  margin-right: 10px;
}

.w-30 {
  width: 30%;
}

.with-scroll {
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
}
